@import "tailwindcss";


:root { 
  /* Dark */
  --bg: #232323;
  --border: #505050;
  --nav-button: #707070;
  --primary-text: #fff;
  --secondary-text: #a0a0a0;
  --tertiary-text: #4a4a4a;
  --logo: #5a5a5a;
  --active: #d3d3d3;
  --background-text: #454545;
  --button-highlight: #373737;
}




.light { /* literally just inverted */
  --bg: #e1e1e1;
  --fg: #d1d1d1;
  --border: #afafaf;
  --nav-active: #2a2a2a;
  --nav-button: #8f8f8f;
  --primary-text: #000;
  --secondary-text: #5f5f5f;
  --tertiary-text: #767676;
  --logo: #5a5a5a;
  --active: #2c2c2c;
  --inactive: #a2a2a2;
  --background-text: #bababa;
  --button-text: #d6d6d6;
  --secondary-button: #9d9d9d;
  --button-highlight: #c8c8c8;
}

.dark { 
  /* Dark */
  --bg: #232323;
  --fg: #333333;
  --border: #505050;
  --nav-active: #fff;
  --nav-button: #707070;
  --primary-text: #b1b1b1;
  --secondary-text: #a0a0a0;
  --tertiary-text: #8e8e8e;
  --button-text: #292929;
  --secondary-button: #303030;
  --logo: #5a5a5a;
  --active: #c2c2c2;
  --inactive: #4a4a4a;
  --background-text: #454545;
  --button-highlight: #373737;
}