@import "tailwindcss";


:root { 
  /* Dark */
  --bg: #232323;
  --border: #505050;
  --nav-button: #707070;
  --primary-text: #fff;
  --secondary-text: #a0a0a0;
  --tertiary-text: #4a4a4a;
  --logo: #5a5a5a;
  --active: #d3d3d3;
  --background-text: #454545;
}

@media (prefers-color-scheme: dark) {
  body { 
    --bg: #232323;
    --border: #505050;
    --nav-button: #707070;
    --primary-text: #fff;
    --secondary-text: #a0a0a0;
    --tertiary-text: #4a4a4a;
    --logo: #5a5a5a;
    --active: #d3d3d3;
    --background-text: #454545;
    --button-text: #292929;
    --secondary-button: #303030;
  }
}
@media (prefers-color-scheme: light) { /* literally just inverted */
  body {
    --bg: #e1e1e1;
    --border: #afafaf;
    --nav-button: #8f8f8f;
    --primary-text: #000;
    --secondary-text: #5f5f5f;
    --tertiary-text: #b5b5b5;
    --logo: #5a5a5a;
    --active: #2c2c2c;
    --background-text: #bababa;
    --button-text: #d6d6d6;
    --secondary-button: #9d9d9d;
  }
}



