@import "tailwindcss";


:root { 
  /* Dark */
  --bg: #232323;
  --border: #343434;
  --nav-button: #707070;
  --primary-text: #fff;
  --secondary-text: #a0a0a0;
  --tertiary-text: #4a4a4a;
  --logo: #5a5a5a;
  --active: #d3d3d3;
  --background-text: #454545;
}




